{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}

        <div class="form-row">
        </div>
        <div class="form-group">
            <label for="inputAddress">Наименование грузоотправителя</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Адрес</label>
            <input type="text" class="form-control" placeholder="Улица Пушкино">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Реквизиты</label>
            <input type="text" class="form-control" placeholder="12345678">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Телефон</label>
            <input type="text" class="form-control" placeholder="+7(800) 555 35-35">
        </div>
        <div class="form-group">
            <label for="inputAddress2">ОКПО</label>
            <input type="text" class="form-control" placeholder="12345678">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Поставщик</label>
            <input type="text" class="form-control" placeholder="ФИО поставщика">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Плательщик</label>
            <input type="text" class="form-control" placeholder="ФИО плательщика">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Дата</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">Номер договра</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputState">Единица Измерения</label>
            <select id="inputState" class="form-control">
            <option selected>Выбрать...</option>
            <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputState">Тип тары</label>
            <select id="inputState" class="form-control">
            <option selected>Выбрать...</option>
            <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputState">Масса</label>
            <select id="inputState" class="form-control">
            <option selected>Выбрать...</option>
            <option>...</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block" >Cформировать</button>
        </div>
    </form>
</div>
{% endblock %}