{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
    {% if messages %}
        {% for message in messages %}
        {% if massage.info %}
        <div class="alert alert-success alert-{{ message.tags }}">
        	{{ message }}
        {% endif %}
        <div class="alert alert-danger alert-{{ message.tags }}">
        	{{ message }}
        </div>
        {% endfor %}
    {% endif %}
        <h1>Регистрация</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        </form>
        <p>Если у вас уже есть аккаунт, <a href="/login">Авторизация</a></p>
    </div>
{% endblock %}